<app-header-menu>address works!</app-header-menu>
<div class="contenedor">
    <div class="flex-row">
        <mat-card class="flex-column" style="gap: 20px;">
            <mat-card-content class="product-features">
                <img height="100" width="100" alt="" class="replay" src="./assets/images/100.gif">
                <div class="copy">
                    <span class="copy">
                        Internet<br>
                        up to
                    </span>
                    <span class="copy_speed">100</span>
                    <span class="copy_unit">Mbps</span>
                </div>
                <div class="main-price">
                    <span class="dollar">$19</span>
                    <div class="details">
                        <span class="cent">99</span>
                    </div>
                </div>
                <div class="disclaimer">
                    <p>*With AutoPay &amp; paperless billing. Equipment, taxes, data allowance, and other fees extra.
                        Additional details below.</p>
                </div>
                <div class="logo">
                    <img src="./assets/images/visa_smaller_1.png" width="44" height="27" alt="VISA" loading="lazy"
                        typeof="foaf:Image">
                        <div class="headline text_color-blue--deepSky" style="font-size:16px">
                            $100
                            Visa Rewards Card
                        </div>
                </div>
                <button class="check-availability-button"  mat-raised-button>Check Availability</button>
                <h4 style="font-weight: 700;margin-top: 10px;">Offer includes:</h4>
                <div>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$100 Visa® Prepaid Reward
                                    Card</strong></span>
                        </li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>First Month Free</strong></span></li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$20 Off for 12 Months on Regular Rate of
                                    $39.99</strong></span></li>
                        <li><span class="text_color-blue--persian"><strong>Free Self-Install Kit</strong></span></li>
                        <li><strong><span class="text_color-blue--persian">No Contracts</span></strong></li>
                        <li><strong><span class="text_color-blue--persian">30-Day Money-Back Guarantee</span></strong>
                        </li>
                    </ul>
                    <ul>
                        <li><strong><span class="text_color-blue--persian">Data Allowance up to 1.5TB per
                                    month</span></strong></li>
                    </ul>
                </div>

                <div class="card-body add-ons">
                    <h4>Add-ons:
                    </h4>
                    <div
                        class="clearfix text-formatted field field--name-field-field-internet-add-on-list field--type-text-long field--label-hidden field__item">
                        <ul>
                            <li>Whole-Home WiFi for $9.99/month</li>
                            <li>Home Phone for $9.99/month</li>
                            <li>Service Protection Plan for $5/month</li>
                            <li>Internet equipment</li>
                            <li><span>Any of the following Streaming TV subscriptions: </span></li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="flex-column" style="gap: 20px;">
            <mat-card-content class="product-features">
                <img height="100" width="100" alt="" class="replay" src="./assets/images/100.gif">
                <div class="copy">
                    <span class="copy">
                        Internet<br>
                        up to
                    </span>
                    <span class="copy_speed">100</span>
                    <span class="copy_unit">Mbps</span>
                </div>
                <div class="main-price">
                    <span class="dollar">$19</span>
                    <div class="details">
                        <span class="cent">99</span>
                    </div>
                </div>
                <div class="disclaimer">
                    <p>*With AutoPay &amp; paperless billing. Equipment, taxes, data allowance, and other fees extra.
                        Additional details below.</p>
                </div>
                <div class="logo">
                    <img src="./assets/images/visa_smaller_1.png" width="44" height="27" alt="VISA" loading="lazy"
                        typeof="foaf:Image">
                        <div class="headline text_color-blue--deepSky" style="font-size:16px">
                            $100
                            Visa Rewards Card
                        </div>
                </div>
                <button class="check-availability-button"  mat-raised-button>Check Availability</button>
                <h4 style="font-weight: 700;margin-top: 10px;">Offer includes:</h4>
                <div>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$100 Visa® Prepaid Reward
                                    Card</strong></span>
                        </li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>First Month Free</strong></span></li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$20 Off for 12 Months on Regular Rate of
                                    $39.99</strong></span></li>
                        <li><span class="text_color-blue--persian"><strong>Free Self-Install Kit</strong></span></li>
                        <li><strong><span class="text_color-blue--persian">No Contracts</span></strong></li>
                        <li><strong><span class="text_color-blue--persian">30-Day Money-Back Guarantee</span></strong>
                        </li>
                    </ul>
                    <ul>
                        <li><strong><span class="text_color-blue--persian">Data Allowance up to 1.5TB per
                                    month</span></strong></li>
                    </ul>
                </div>

                <div class="card-body add-ons">
                    <h4>Add-ons:
                    </h4>
                    <div
                        class="clearfix text-formatted field field--name-field-field-internet-add-on-list field--type-text-long field--label-hidden field__item">
                        <ul>
                            <li>Whole-Home WiFi for $9.99/month</li>
                            <li>Home Phone for $9.99/month</li>
                            <li>Service Protection Plan for $5/month</li>
                            <li>Internet equipment</li>
                            <li><span>Any of the following Streaming TV subscriptions: </span></li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="flex-column" style="gap: 20px;">
            <mat-card-content class="product-features">
                <img height="100" width="100" alt="" class="replay" src="./assets/images/100.gif">
                <div class="copy">
                    <span class="copy">
                        Internet<br>
                        up to
                    </span>
                    <span class="copy_speed">100</span>
                    <span class="copy_unit">Mbps</span>
                </div>
                <div class="main-price">
                    <span class="dollar">$19</span>
                    <div class="details">
                        <span class="cent">99</span>
                    </div>
                </div>
                <div class="disclaimer">
                    <p>*With AutoPay &amp; paperless billing. Equipment, taxes, data allowance, and other fees extra.
                        Additional details below.</p>
                </div>
                <div class="logo">
                    <img src="./assets/images/visa_smaller_1.png" width="44" height="27" alt="VISA" loading="lazy"
                        typeof="foaf:Image">
                        <div class="headline text_color-blue--deepSky" style="font-size:16px">
                            $100
                            Visa Rewards Card
                        </div>
                </div>
                <button class="check-availability-button"  mat-raised-button>Check Availability</button>
                <h4 style="font-weight: 700;margin-top: 10px;">Offer includes:</h4>
                <div>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$100 Visa® Prepaid Reward
                                    Card</strong></span>
                        </li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>First Month Free</strong></span></li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$20 Off for 12 Months on Regular Rate of
                                    $39.99</strong></span></li>
                        <li><span class="text_color-blue--persian"><strong>Free Self-Install Kit</strong></span></li>
                        <li><strong><span class="text_color-blue--persian">No Contracts</span></strong></li>
                        <li><strong><span class="text_color-blue--persian">30-Day Money-Back Guarantee</span></strong>
                        </li>
                    </ul>
                    <ul>
                        <li><strong><span class="text_color-blue--persian">Data Allowance up to 1.5TB per
                                    month</span></strong></li>
                    </ul>
                </div>

                <div class="card-body add-ons">
                    <h4>Add-ons:
                    </h4>
                    <div
                        class="clearfix text-formatted field field--name-field-field-internet-add-on-list field--type-text-long field--label-hidden field__item">
                        <ul>
                            <li>Whole-Home WiFi for $9.99/month</li>
                            <li>Home Phone for $9.99/month</li>
                            <li>Service Protection Plan for $5/month</li>
                            <li>Internet equipment</li>
                            <li><span>Any of the following Streaming TV subscriptions: </span></li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="flex-column" style="gap: 20px;">
            <mat-card-content class="product-features">
                <img height="100" width="100" alt="" class="replay" src="./assets/images/100.gif">
                <div class="copy">
                    <span class="copy">
                        Internet<br>
                        up to
                    </span>
                    <span class="copy_speed">100</span>
                    <span class="copy_unit">Mbps</span>
                </div>
                <div class="main-price">
                    <span class="dollar">$19</span>
                    <div class="details">
                        <span class="cent">99</span>
                    </div>
                </div>
                <div class="disclaimer">
                    <p>*With AutoPay &amp; paperless billing. Equipment, taxes, data allowance, and other fees extra.
                        Additional details below.</p>
                </div>
                <div class="logo">
                    <img src="./assets/images/visa_smaller_1.png" width="44" height="27" alt="VISA" loading="lazy"
                        typeof="foaf:Image">
                        <div class="headline text_color-blue--deepSky" style="font-size:16px">
                            $100
                            Visa Rewards Card
                        </div>
                </div>
                <button class="check-availability-button"  mat-raised-button>Check Availability</button>
                <h4 style="font-weight: 700;margin-top: 10px;">Offer includes:</h4>
                <div>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$100 Visa® Prepaid Reward
                                    Card</strong></span>
                        </li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>First Month Free</strong></span></li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$20 Off for 12 Months on Regular Rate of
                                    $39.99</strong></span></li>
                        <li><span class="text_color-blue--persian"><strong>Free Self-Install Kit</strong></span></li>
                        <li><strong><span class="text_color-blue--persian">No Contracts</span></strong></li>
                        <li><strong><span class="text_color-blue--persian">30-Day Money-Back Guarantee</span></strong>
                        </li>
                    </ul>
                    <ul>
                        <li><strong><span class="text_color-blue--persian">Data Allowance up to 1.5TB per
                                    month</span></strong></li>
                    </ul>
                </div>

                <div class="card-body add-ons">
                    <h4>Add-ons:
                    </h4>
                    <div
                        class="clearfix text-formatted field field--name-field-field-internet-add-on-list field--type-text-long field--label-hidden field__item">
                        <ul>
                            <li>Whole-Home WiFi for $9.99/month</li>
                            <li>Home Phone for $9.99/month</li>
                            <li>Service Protection Plan for $5/month</li>
                            <li>Internet equipment</li>
                            <li><span>Any of the following Streaming TV subscriptions: </span></li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="flex-column" style="gap: 20px;">
            <mat-card-content class="product-features">
                <img height="100" width="100" alt="" class="replay" src="./assets/images/100.gif">
                <div class="copy">
                    <span class="copy">
                        Internet<br>
                        up to
                    </span>
                    <span class="copy_speed">100</span>
                    <span class="copy_unit">Mbps</span>
                </div>
                <div class="main-price">
                    <span class="dollar">$19</span>
                    <div class="details">
                        <span class="cent">99</span>
                    </div>
                </div>
                <div class="disclaimer">
                    <p>*With AutoPay &amp; paperless billing. Equipment, taxes, data allowance, and other fees extra.
                        Additional details below.</p>
                </div>
                <div class="logo">
                    <img src="./assets/images/visa_smaller_1.png" width="44" height="27" alt="VISA" loading="lazy"
                        typeof="foaf:Image">
                        <div class="headline text_color-blue--deepSky" style="font-size:16px">
                            $100
                            Visa Rewards Card
                        </div>
                </div>
                <button class="check-availability-button"  mat-raised-button>Check Availability</button>
                <h4 style="font-weight: 700;margin-top: 10px;">Offer includes:</h4>
                <div>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$100 Visa® Prepaid Reward
                                    Card</strong></span>
                        </li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>First Month Free</strong></span></li>
                    </ul>
                    <ul>
                        <li><span class="text_color-blue--persian"><strong>$20 Off for 12 Months on Regular Rate of
                                    $39.99</strong></span></li>
                        <li><span class="text_color-blue--persian"><strong>Free Self-Install Kit</strong></span></li>
                        <li><strong><span class="text_color-blue--persian">No Contracts</span></strong></li>
                        <li><strong><span class="text_color-blue--persian">30-Day Money-Back Guarantee</span></strong>
                        </li>
                    </ul>
                    <ul>
                        <li><strong><span class="text_color-blue--persian">Data Allowance up to 1.5TB per
                                    month</span></strong></li>
                    </ul>
                </div>

                <div class="card-body add-ons">
                    <h4>Add-ons:
                    </h4>
                    <div
                        class="clearfix text-formatted field field--name-field-field-internet-add-on-list field--type-text-long field--label-hidden field__item">
                        <ul>
                            <li>Whole-Home WiFi for $9.99/month</li>
                            <li>Home Phone for $9.99/month</li>
                            <li>Service Protection Plan for $5/month</li>
                            <li>Internet equipment</li>
                            <li><span>Any of the following Streaming TV subscriptions: </span></li>
                        </ul>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

      
    </div>
    <!-- <button class="next-button" (click)="goToNextPage()" mat-raised-button>NEXT</button> -->
</div>