@import "../../../styles/mixins";
@import "../../../styles/variables";

  .paleta{  // IS A PALETA DE COLORES TO REREFERENCE
    --wow-red: #c62228;
    --wow-orange: #f26428;
    --wow-yellow: #fff212;
    --wow-green: #00ff00;
    --wow-light-blue: #0face3;
    --wow-blue: #0065e3;
    --wow-logo-blue: #306fb2;
  
    --wow-white: #ffffff;
    --wow-black: #000000;
    --wow-gray: #808080;
    --wow-light-gray: #c0c0c0;
    --wow-dark-gray: #404040;
    --wow-darker-gray: #202020;
    --wow-darkest-gray: #000000;
  }


body {
  font-family: Arial, Helvetica, sans-serif;
}


.wide-open-west {
  color: var(--wow-logo-blue);
  font-weight: bold;
  margin: 20px 0;
  @include text-shadow(2px, 2px, 2px, var(--wow-yellow));
}
// background: linear-gradient(to right, var(--brand-green), var(--brand-dark-green));
/* The Modal (background) */
.login {
  width: 37%;
  margin: 0;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -53%);
  border-radius: 3px;
  background-color: white;
  
  // border: solid 1px #022d71;
  // @include BoxShadow(6);
  overflow: hidden;

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
  }

  img.avatar {
    border-radius: 50%;
    width: 139px;
    margin-bottom: 20px;
    @include BoxShadow(6);
    box-shadow: 0px 1px 5px 0 #0d6efd, 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
  }



  .login-button{
    width: 300px;
    font-family: system-ui;
    font-size: 20px;
  }

  .label {
    position: relative;
    left: -110px;
    top: 20px;
    font-family: system-ui;
    font-weight: 100;
    color: grey;
  }
}

/* Full-width input fields */
input[type="text"],
// input[type="password"] {
//   width: 300px;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
//   border-radius: 5px;
// }

/* Set a style for all buttons */
.disabled {
  background-color: #92959e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: not-allowed;
  width: 100%;
}
/* Set a style for all buttons */
button {
  color: white;background: var(--wow-logo-blue);box-shadow: 0 1px 8px 0 rgb(0 0 0 / 40%);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
