<div class="menu-container">
    <button (click)="goToPage('login')" class="button logo-button" mat-raised-button>
        <mat-icon class="svg-logo-icon" svgIcon="wow-logo" >
        </mat-icon>
    </button>
    <button (click)="goToPage('address')" class="button" mat-raised-button>
        ADDRESS
    </button>
    <button (click)="goToPage('products')" class="button " mat-raised-button>
        PRODUCTS
    </button>
    <button (click)="goToPage('appointment')" class="button" mat-raised-button>
        APPOINTMENT
    </button>
    <button (click)="goToPage('billing')" class="button" mat-raised-button>
        BILLING
    </button>
    <button (click)="goToPage('confirmation')" class="button" mat-raised-button>
        <span style="">CONFIRMATION</span>
        <!-- <h2>Summary value 1</h2>
        <h2>Summary value 1</h2>
        <h2>Summary value 1</h2>
        <h2>Summary value 1</h2>
        <h2>Summary value 1</h2> -->

    </button>
</div>
