@import "../../../styles/mixins";
@import "../../../styles/variables";

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  //   width: 50%;
  flex: 1;
}
.state-zip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.contenedor mat-form-field.short {
  width: 48% !important;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: 90%;

  //   margin-top: 100px;
  //   margin-left: 12%;
  gap: 100px;
  mat-form-field {
    width: 100%;
  }
  .next-button {
    height: 50px;
    width: 30vw;
    background: var(--wow-red);
    color: var(--wow-white);
    font-size: 30px;
    animation: rubberBand 0.5s ease-out 0.1s forwards;
    @include text-shadow(1px, 2px, 2px, var(--wow-black));
  }
}

@media (max-width: 950px) {
  .contenedor {
    flex-direction: column;
  }
  .flex-column {
    width: 95%;
  }
}
